*
    font-family: 'Montserrat'
    font-family: 'Montserrat Italic'

.container
    width: 1170px
    margin: 0 auto

@import 'blocks/_buttons'
@import 'blocks/_titles'
@import 'blocks/_promo'
@import 'blocks/_header'

