.container
    position: relative
    max-width: 1170px
    margin: auto
    
*
    font-family: 'Montserrat'
    font-family: 'Montserrat Italic'



@import 'blocks/buttons'
@import 'blocks/titles'
@import 'blocks/subtitles'
@import 'blocks/promo'
@import 'blocks/header'
@import 'blocks/about'
@import 'blocks/methods'
@import 'blocks/therapy'
@import 'blocks/doctors'

