.button
    width: 336px
    height: 88px
    border-radius: 44px
    box-shadow: 5px 13px 32px rgba(137, 159, 60, 0.49)
    background-color: #8ca144
    font-family: Montserrat
    color: #ffffff
    font-size: 16px
    font-weight: 700
    text-transform: uppercase
    border: none
    cursor: pointer
    &_center
        margin-top: 46px
        width: 336px
        height: 88px
        border-radius: 44px
        box-shadow: 5px 13px 32px rgba(137, 159, 60, 0.49)
        background-color: #8ca144
        font-family: Montserrat
        color: #ffffff
        font-size: 16px
        font-weight: 700
        text-transform: uppercase
        border: none
        cursor: pointer
    &_mini
        width: 180px
        height: 55px
        border-radius: 28px
        background-color: #8ca144
        color: #ffffff
        font-family: Montserrat
        font-size: 14px
        font-weight: 700
        text-transform: uppercase
        border: none
        cursor: pointer
        position: absolute
        right: 30px
        bottom: 32px
    &_submit
        width: 230px
        height: 70px
        box-shadow: 5px 13px 32px rgba(137, 159, 60, 0.49)
        border-radius: 35px
        background-color: #8ca144
        border: none
        color: #ffffff
        font-family: Montserrat
        font-size: 14px
        font-weight: 700
        text-transform: uppercase
        margin-top: 40px
        cursor: pointer
            