.feedback
    min-height: 810px
    padding: 97px 21px 60px 21px
    &__number
        position: absolute
        left: 50%
        right: 50%
        transform: translateX(-50%)
        color: #f5f4e9
        font-family: Montserrat
        font-size: 209px
        font-weight: 700
        line-height: 252.78px
        display: flex
        justify-content: center
        z-index: 2
        top: -15%
    &__inner
        margin: 77px auto 0
        max-width: 665px
        text-align: center
    &__round
        display: block
        width: 150px
        height: 150px
        border: 10px solid #f7f6eb
        border-radius: 100%
        margin: 0 auto
    &__text
        max-width: 874px
        margin-top: 19px
        color: #000000
        font-family: Montserrat
        font-size: 14px
        font-weight: 400
        line-height: 22px
    &__name
        font-size: 22px
        font-weight: 700
        line-height: 36px
        color: #000000
        font-family: Montserrat
        margin-top: 30px
    &__city
        font-size: 16px
        line-height: 24px
        color: #000000
        font-family: Montserrat
        font-style: italic
    &__link
        display: flex
        justify-content: center
        font-family: Montserrat
        font-size: 25px
        font-weight: 600
        line-height: 36px
        color: #8ca144
        text-decoration: none
        margin-top: 30px
.slick-prev
        position: absolute
        top: 50%
        transform: translateY(-50%)
        left: -120px
        border: none
        background-color: #fff
        img
            width: 97px
            height: 97px
.slick-next
        position: absolute
        top: 50%
        transform: translateY(-50%)
        right: -120px
        border: none
        background-color: #fff
        img
            width: 97px
            height: 97px
