.modal-form
    max-width: 758px
    max-height: 497px
    display: flex
    flex-direction: column
    &-name
        position: relative
        margin-top: 30px
        &::before
            content: ''
            position: absolute
            display: block
            width: 17px
            height: 21px
            background: url('../../icons/form-user.png') center (center / cover) no-repeat
            left: 20px
            top: 50%
            bottom: 50%
            transform: translateY(-50%)
    &-phone
        position: relative
        margin-top: 15px
        &::before
            content: ''
            position: absolute
            display: block
            width: 17px
            height: 21px
            background: url('../../icons/form-user.png') center (center / cover) no-repeat
            left: 20px
            top: 50%
            bottom: 50%
            transform: translateY(-50%)

            

