.herbs
    min-height: 720px
    padding: 111px 20px 20px 20px
    background: url(../../img/section_5/herbs_bg.jpg) center (center / cover) no-repeat
    position: relative
    &::before
        content: ""
        position: absolute
        left: -90px
        top: -85px
        display: block
        width: 206px
        height: 252px
        background: url(../../img/section_5/black_rocks.png) center (center / cover) no-repeat
    &::after
        content: ""
        position: absolute
        left: 157px
        top: -65px
        display: block
        width: 86px
        height: 151px
        background: url(../../img/section_5/leaves.png) center (center / cover) no-repeat
        &::before
            content: ""
            position: absolute
            right: 300px
            top: 110px
            display: block
            width: 252px
            height: 207px
            background: url(../../img/section_5/white_rock.png) center (center / cover) no-repeat
    &__wrapper
        max-width: 1170px
        padding: 20px
        box-shadow: 4px 10px 52px 5px rgba(33, 33, 33, 0.07)
        border-radius: 10px 5px 5px
        background-color: #ffffff
        margin-top: 45px
        margin-bottom: 60px
    &__title
        text-align: center
        color: #000000
        font-family: Montserrat
        font-size: 22px
        font-weight: 700
        line-height: 30px
    &__text
        color: #000000
        font-family: Montserrat
        font-size: 14px
        font-weight: 400
        line-height: 22px

