.herbs
    height: 845px
    padding: 111px 0 0 0
    background: url(../../img/section_5/herbs_bg.jpg) center (center / cover) no-repeat
    &__number
        position: absolute
        left: 50%
        right: 50%
        transform: translateX(-50%)
        color: #ffffff
        font-family: Montserrat
        font-size: 209px
        font-weight: 700
        line-height: 252.78px
        display: flex
        justify-content: center
        z-index: 2
        top: -15%
    &__wrapper
        max-width: 1170px
        height: 357px
        padding: 40px
        box-shadow: 4px 10px 52px 5px rgba(33, 33, 33, 0.07)
        border-radius: 10px 5px 5px
        background-color: #ffffff
        margin-top: 127px
        margin-bottom: 60px
    &__title
        text-align: center
        color: #000000
        font-family: Montserrat
        font-size: 22px
        font-weight: 700
        line-height: 30px
    &__text
        color: #000000
        font-family: Montserrat
        font-size: 14px
        font-weight: 400
        line-height: 22px

