.therapy
    min-height: 775px
    background: url(../../img/section_3/therapy_bg.jpg) center (center / cover) no-repeat
    padding: 55px 72px
    position: relative
    overflow: hidden
    &::before 
            content: ""
            display: block
            position: absolute
            right: -65px
            bottom: 0
            background: url(../../img/section_3/doctor.png) center (center / cover) no-repeat
            width: 38vw
            height: 38vw
            z-index: 2
    &__tabs
        max-width: 100%
        list-style-type: none
        display: flex
        justify-content: center
        align-items: center
        margin-bottom: 20px
        margin-top: 25px
        padding-left: 0
        position: relative
        z-index: 9
        flex-wrap: wrap
    &__tab
        color: #222225
        font-family: Montserrat
        font-size: 12px
        font-weight: 700
        text-align: center
        text-transform: uppercase
        cursor: pointer
        transition: 0.4s all
        padding-bottom: 15px
        padding-left: 15px
        padding-right: 15px
        &_active
            font-family: "Montserrat"
            font-weight: 700
            color: #8ca144
            &::after
                content: ""
                display: block
                width: 100%
                height: 2px
                margin-top: 0
                background-color: #8ca144
                transition: 0.4s all
    &__content
        margin-top: 44px
        display: none
        justify-content: center
        &_active
            display: flex
    &-item
        border-radius: 20px
        max-width: 1031px
        height: 400px
        background-color: #ffffff
        padding: 44px
        display: flex
        align-items: center
        &__img
            max-width: 100%
            height: 100%
            object-fit: cover
            border-radius: 15px
            display: flex
            align-items: center
            &-wrapper
                width: 417px
                height: 300px
                display: flex
                align-items: center
                display: block
        &__text
            margin-left: 15px
        &__list
            list-style-type: none
            margin-bottom: 0
        &__subtitle
            color: #000000
            font-family: Montserrat
            font-size: 22px
            font-weight: 700
            line-height: 30px
        &__points
            position: relative
            color: #000000
            font-family: Montserrat
            font-size: 14px
            font-weight: 400
            line-height: 22px
            margin-top: 30px
            display: flex
            align-items: center
            &:first-child
                margin-top: 0
            &::before
                content: ""
                display: block
                position: absolute
                left: -30px
                background-color: #849e2f
                border-radius: 100%
                width: 15px
                height: 15px
                margin-right: 16px
    &__other
            color: #000000
            font-family: Montserrat
            font-size: 14px
            font-weight: 500
            line-height: 22px
            margin-top: 30px
            text-align: center
.hide
    display: none
.show
    display: flex
.fade 
    animation-name: fade
    animation-duration: 1.5s

@keyframes fade 
    from 
        opacity: 0.1
    
    to 
        opacity: 1
    
.accordion
    display: none
    flex-wrap: wrap
    justify-content: space-between
    &_item
        align-items: center
        position: relative
        width: 100%
        margin-bottom: 20px
        padding: 10px
        position: relative
        border: none

        // &:before
        //     content: ''
        //     position: absolute
        //     display: block
        //     width: 6px
        //     height: 65px
        //     background-color: #8ca144
        &__input
            position: absolute
            top: 0
            left: 0
            opacity: 0
        &__trigger
            display: flex
            align-items: center
            padding: 20px
            color: #232932
            font-size: 20px
            font-family: Montserrat
            font-weight: 700
            line-height: 20px
            text-transform: uppercase
            border-radius: 5px
            transition: .5s all
            display: flex

            &::before
                content: ''
                background: url('../icons/shevron-right.svg') center (center/cover) no-repeat
                display: block
                width: 15px
                height: 15px
                transition: .3s all
                margin-right: 7px
        &__content
                display: none
                padding: 20px
                border-top: none
                height: auto
                z-index: 99
                font-family: Montserrat
                background-color: #ffffff
                font-size: 16px
                font-weight: 500
                line-height: 22px
                transition: .5s all
                margin-top: 10px
    .accordion_item__input:checked ~ .accordion_item__trigger
        &::before
            transform: rotate(90deg)
    .accordion_item__input:checked ~ .accordion_item__content
        display: flex
        justify-content: center
        align-items: center                   