.title
    color: #000000
    font-family: Montserrat
    font-size: 43px
    font-weight: 700
    line-height: 58px
    text-align: center
    position: relative
    z-index: 9
    &__herbs
        color: #ffffff
    
