@media (max-width: 991px)
    .feedback
        padding: 40px 10px 20px 10px
        min-height: 660px
        &__inner
            margin: 20px auto 0

@media (max-width: 767px)
    .feedback
        &__text
            font-size: 12px
            line-height: 17px
        &__name
            font-size: 18px
        &__city
            font-size: 12px
        &__link
            font-size: 20px
            margin-top: 20px
        &__round
            width: 123px
            height: 123px
            border: 5px solid #f7f6eb
@media (max-width: 576px)
    .feedback
        min-height: 555px
        &__name
            font-size: 15px
        &__link
            font-size: 15px
        &__text
            font-size: 10px
            font-weight: 500
            line-height: 19px
    
        
