RewriteEngine On
RewriteRule ^index\.html$ / [R=301,L]
RewriteRule ^(.*)/index\.html$ /$1/ [R=301,L]

<ifModule mod_expires.c>

 ExpiresActive On
 
 ExpiresByType image/x-icon "access plus 20 days"
 ExpiresByType image/jpeg "access plus 20 days"
 ExpiresByType image/png "access plus 20 days"
 ExpiresByType image/gif "access plus 20 days"
 ExpiresByType application/x-shockwave-flash "access plus 20 days"
 #кэшировать css, javascript и текстовые файлы на одну неделю
 ExpiresByType text/css "access plus 20 days"
 ExpiresByType text/javascript "access plus 20 days"
 ExpiresByType application/javascript "access plus 20 days"
 ExpiresByType application/x-javascript "access plus 20 days"
 #кэшировать html и htm файлы на один день
 ExpiresByType text/html "access plus 1 day"
 #кэшировать xml файлы на десять минут
 ExpiresByType application/xhtml+xml "access plus 10 minutes"
</ifModule>